<!--
  <hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
-->

<div class="container">
  <br>
  <h1>Pipes</h1>
  <hr>
  
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th> Variable </th>
        <th> Pipe </th>
        <th> Producto </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{nombre}}</td>
        <td> uppercase </td>
        <td> {{ nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td> lowercase </td>
        <td> {{ nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td> slice:3 </td>
        <!-- elimina las primeras 3 posiciones del nombre
             Fernando -> nando
         -->
        <td> {{ nombre | slice:3}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td> slice:0:3 </td>
        <!-- se obtiene las primeras 3 letras 
           Fernando -> Fer
        -->
        <td> {{ nombre | slice:0:3}}</td>
      </tr>      
    </tbody>
</table>

</div>